@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');



*
{
    margin:0;
    padding: 0;
    border: none;
}

body{
    background-color:whitesmoke;
    font-family: sans-serif;
    font-weight: 300;
    color:#3a3a3a;

}
/* logo and heading */
h1{
    font-family:lora;
    text-decoration: none;
    letter-spacing:0px;
    color: black;
}
#logo{
    float:left;
    font-size: 180%;
    padding-left: 20px;
    padding-top: 10px;
    color:darkgrey;}

/* navigation links */

#menu{
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;

}
#menu li{
    float: right;
    margin-right: 25px;
    padding-top: 20px;
    list-style-type:none;
    
}
#menu #logo{
    line-height: 60px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
    font-family:cambria;
    
}

#menu a:hover{
    background-color:rgb(194, 208, 208);
    list-style-type: none;
    border-bottom: 1px solid #a99f9f;

    
}
.active{
    border-bottom: 1px solid #3a3a3a;
}


/* main image */
#image-outer{
    height:700px;
    width:100%;
    overflow: hidden;
}

#main-image{
    height: 700px;
    width: 100%;
    background: url('../css/images/first-iamge.jpeg')no-repeat center center;
}

/* main section */
#about{
    color:gray;
    text-align: center;
    letter-spacing: 0px;
    padding-top: 3%;
    font-family: 'lato';
    font-weight: 100;
    font-size:medium;
    
}
h3{
    color:black;
    font-family:'Lucida Sans';
    text-align: center;
    text-transform: uppercase;
    padding-top: 1%;
    font-size:larger
}


p{
    color: #3a3a3a;
    text-align: center;
    padding-right: 1%;
    padding-left: 1%;
    font-family:lato;
    margin: 0 0 20px;
    padding-top: 2%;

}
/* middle image */

.image-row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center; 
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition:0.3s
    
    
  }
  
  img {
    flex-basis: calc(25% - 0.5rem); 
    flex-grow: 1; 
    margin: 0.25rem; 
  }
  .image-row :hover{
    transform:scale(1.04) ;
  }

/* footer */
footer{
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
footer p{
    background-color: #3a3a3a;
    color: aliceblue;
    padding-bottom: 1px;
    margin: 0 auto;
    letter-spacing: 4px;

}

/* projects gallery*/

#photo{
    clear: both;
    margin-right:auto
}
h2{
    text-align: center;
    padding-left: 20px;
    letter-spacing: 3px;
    font-family:optima;
    padding-top:15%;
    


}
.container{
    display:flex;
   padding-right: 5%;
    padding-top: 3%;
    float:right;
    font: 18px;
   
    
}
.text p{
display: flex;
float: left;
text-align: center;

}

/* contact heading */

.form-section{
    background: url('../css/images/pexels-ivan-siarbolin-3787839-3.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    width: 100%;
    clear: both;
}

.contact-box{
    clear: both;
    max-width: 500px;
    margin: 50px 10% 0 0 ;
    margin-bottom: 20px;
    width: auto;
    position: absolute;
    color: white;
    position: absolute;
    background:black;
    box-shadow: 0 0 20px 0 #999;
    text-align:left;
    top: 10%;
    left: 10%;
    padding: 5px;
}
.contact-form-container{
    background-size: cover;
    background-position: center;
}
form{
    margin: 45px;
}
.input-field{
    width: 300px;
    height: 40px;
    margin-top:20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}

input[type="submit"] {
    background-color: #474e47;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #383938;
  }
  /* media quiries */

  /* for larger to medium screen size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    
    #menu{
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    .responsive{
        width: 100%;
        height:auto
    }
    
}
/* for small screen sizes below 800px width */
@media screen and (max-width:800px) {
    .container{

       flex-flow: row wrap;
       width: 90%;
    }
    form{    
    float: left;
    margin-left: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;

        
        
    }

}
